@light-blue:#31a8cc;
@gray:#9ba1a3;
@black:#000000;

.margenes (@top: 0px,@bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron{
    background-color: @light-blue;
    color:@black;
    .margenes(50px,10px )
    // margin-top: 50px;
}
footer{
    padding: 10px 10px 0px 10px;
    background-color: @gray;
    .margenes(10px, 0px)
}
.card-hotel{
    flex:1 200px;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-addres-icon{
 padding-right: 10px;
}
.tab-content {
padding-top:10px;
}
.d-flex{
    padding-top: 10px;
}
.collapse{
    padding-bottom: 10px;
}