.jumbotron {
  background-color: #31a8cc;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #9ba1a3;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.d-flex {
  padding-top: 10px;
}
.collapse {
  padding-bottom: 10px;
}
